{% extends 'samuv_site/base.html' %}

{% load static %}

{% load css_tags %}

{% block base_css%}
  {{ block.super }}

{% endblock %}

{% block content %}

<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="row">
        <div class="col-lg-12">
             {% if messages %}
             {% for message in messages %}
             <div class="alert alert-{% if message.tags %}{{ message.tags }}{% else %}success{% endif %} alert-dismissable">
                 <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                 {{ message }}
             </div>
             {% endfor %}
             {% endif %}
         </div>
       </div>
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h5 class="m-0 text-dark">Gráfico</h5>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <!-- <li class="breadcrumb-item"><a href="#">Home</a></li> -->
              <!--li class="breadcrumb-item active">Dashboard v3</li-->
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-10">
            <div class="card">
              <div class="card-body">
              <!-- Main row -->
                <canvas id="myChart" width="400" height="400"></canvas>

           </div>
            </div>
        </div>
            <!-- /.card -->
        </div>
       </div>
        <!-- /.row -->

        <!-- form -->
        <!-- Retirar data da cadastro -->
        <!-- Adicionar Radio button no campo sexo -->
        <!-- Adicionar button de calendário ao lado dos campos de data -->

        <!-- /.form -->
        <!-- /.card -->
      </div>
      <!-- /.container-fluid -->
    </div>
{% endblock %}

{% block scripts %}

  {{ block.super }}

  <script>
    {% block jquery %}
      var endpoint = 'api/data/' // # {url "api-data"}
      var defaultData = []
      var labels = []
      //var clientesDjango = parseInt("{{ clientes }}")
      //console.log(clientesDjango)

      $.ajax({
        method: "GET",
        url: endpoint,
        success: function(data){
          labels: data.labels
          defaultData = data.default
          //console.log(data)
        },
        error: function(error_data){
          console.log("error")
          console.log(error_data)
        }
      })

    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            //labels: labels,
            labels: [1, 2, 3, 4, 5]
            datasets: [{
                label: '# of Votes',
                data: defaultData,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
    {% endblock %}
  </script>

  {{ form.media }}

{% endblock %}
